#### function creation

In [23]:
def my_function():
    print("Hello from a function")

In [24]:
# def my_function(a): # with arguments/parameters
#     print(a)

#### function call

In [25]:
my_function()

Hello from a function

In [26]:
# abc() # NameError: name 'abc' is not defined

#### single positional argument

In [27]:
def my_function(fname):
    print(fname.upper() + " is my name")

my_function("Emil")
my_function("Tony")
my_function("Luci")

EMIL is my name
TONY is my name
LUCI is my name

In [29]:
# my_function("Tony", "Robbins")
# TypeError: my_function() takes 1 positional argument but 2 were given

#### multi positional arguments

In [33]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [34]:
my_function("Tony", "Robbins")
my_function("Robbins", "Tony")

Tony Robbins
Robbins Tony

In [35]:
# my_function("Tony")
# TypeError: my_function() missing 1 required positional argument: 'lname'

In [39]:
def marks(mathmarks, physicsmarks):
    print('math marks:',mathmarks,'physics marks:',physicsmarks)
    print('math marks:',mathmarks,'physics marks:',physicsmarks)

marks(100,80) # positional arguments: order matters
marks(80,100)

math marks: 100 physics marks: 80
math marks: 100 physics marks: 80
math marks: 80 physics marks: 100
math marks: 80 physics marks: 100

#### arbitrary arguments : *args

In [46]:
def my_function(*kids): 
    print(kids,type(kids))
    print("The youngest child is ") 

my_function("Anu", "Bob", "Chetan")
my_function("Anu") 
my_function()

The youngest child is
The youngest child is
The youngest child is

In [47]:
def my_function(*kids): # * => it accepts any number of parameters (0 to infinite)
    print("The youngest child is " + kids[2]) # parameters are accessed using number indexing

my_function("Anu", "Bob", "Chetan") # 3 parameters
# my_function("Anu") # IndexError: tuple index out of range => kids type is tuple
# my_function() # IndexError: tuple index out of range

The youngest child is Chetan

#### keyword arguments

In [195]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Anu", child2 = "Bob", child3 = "Chetan") # kwargs: order doesnot matter
# my_function('Bob', 'Chetan', "Anu") # postional args : order matters

The youngest child is Chetan

In [198]:
# print(child1) # NameError: name 'child1' is not defined

#### arbitrary keyword arguments : **kwargs

In [56]:
def my_function(**kid): # *kid: 0 to inf number of args, **kid: any number of kw args
    print(kid,type(kid))
    print("His last name is " + kid["lname"]) # key indexing
#     print("His last name is " + kid["lastname"]) # KeyError: 'lastname'
  
my_function(fname = "Tony", lname = "Robbins")

{'fname': 'Tony', 'lname': 'Robbins'} <class 'dict'>
His last name is Robbins

#### default argument

In [57]:
def my_function(country = "India"): # 100 -> 80 India (majority or most common)
    print("I am from " + country)

my_function("Sweden")
my_function("Norway")
my_function()
my_function("Brazil")

I am from Sweden
I am from Norway
I am from India
I am from Brazil

#### order of arguments

1. positional arguments
2. arbitrary positional arguments
3. default arguments
4. keyword arguments
5. arbitrary keyword arguments

In [204]:
# def fun(*d, a): # b is default argument
#     print(a,d, sep="\n")
    
# fun(20, 400,401, 402, 403, 20) # TypeError: fun() missing 1 required keyword-only argument: 'a'

In [208]:
def fun(a, *d, b=10, c=21, **e): # b is default argument
    print(a,b,c,d,e, sep="\n")
    
    
fun(20, # positional
400, 401, 402, 403, # arbitrary positional
c=20, # keyword (has default value)
d=[0,1,2,3], # aribitrary keyword which is a list
p=100, # aribitrary keyword
q=200 # aribitrary keyword
)

20
10
20
(400, 401, 402, 403)
{'d': [0, 1, 2, 3], 'p': 100, 'q': 200}

In [211]:
def fun(a, *d, b=10, c=21, **e): # b is default argument
    print(a,b,c,d,e, sep="\n")
    
fun(400,401,402,403,20,
c=20, 
d=[0,1,2,3], p=100, q=200)

400
10
20
(401, 402, 403, 20)
{'d': [0, 1, 2, 3], 'p': 100, 'q': 200}

#### determine if items are passed by position, by position or keyword, or by keyword

1. Positional only parameters
2. Positional or keyword arguments (after /)
3. Keyword-only arguments (after *)

In [213]:
def fun(a,b,c,d,e,f):
    pass

In [216]:
def fun(a,b,/,c,d,*,e,f):
    print(a,b,c,d,e,f)

fun(10,20, # a,b are positional only : order matters
    30, d = 40, # after / c,d are positional or keyword (maintain order of positional and keyword)
    e=50,f=60 # after * e,f are keyword only
)

10 20 30 40 50 60

In [217]:
# fun(10,b=20, # TypeError: fun() got some positional-only arguments passed as keyword arguments: 'b'
#     d= 30, c = 40, 
#     e=50,f=60 
# )

In [218]:
# fun(10,20, 
#     c=30, 40, # SyntaxError: positional argument follows keyword argument
#     e=50,f=60 
# )

#### passing list as an argument

In [72]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits)

# print(my_function(fruits)) # None

apple
banana
cherry

#### function return statement

In [ ]:
def multiplication_with_five(x):
    return 5 * x

a = multiplication_with_five(2)
print(a)

print(multiplication_with_five(3))
print(multiplication_with_five(5))
print(multiplication_with_five(9))

10
15
25
45

#### returning multiple values

In [73]:
def fun():
    str = "geeksforgeeks"
    x = 20
    return str, x # Return tuple, we could also write (str, x)
 
# Driver code to test above method
str, x = fun() # Assign returned tuple
print(str)
print(x)

geeksforgeeks
20

#### pass statement in function

In [75]:
def myfunction():
    pass # IndentationError: expected an indented block

# having an empty function definition like this, would raise an error without the pass statement

#### recursion

In [79]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("Recursion Example Results")
tri_recursion(6) # 1+2+3+4+5+6

Recursion Example Results
1
3
6
10
15
21

21

In [221]:
# factotial of a number using recursion
def recur_factorial(n):
     if n == 1:
        return n
     else:
        return n*recur_factorial(n-1) # multiply

num = 7

# check if the number is negative
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of", num, "is", recur_factorial(num)) # 1*2*3*4*5*6*7

The factorial of 7 is 5040

#### Pass by Object Reference

In [157]:
def ref_change(m): # a and m point to same loc
    
    print(m, id(m))
    
#     m = 'datascience'
    m = 'python' # ref changed (original is not affected)
    print(m, id(m))
    
    return m

In [158]:
a = 'datascience'
print(a,id(a))

datascience 2603495645104

In [159]:
b = ref_change(a)
print(a,id(a))

datascience 2603495645104
python 2603425721584
datascience 2603495645104

In [160]:
# print(b,id(b))

In [161]:
def ref_change(m): # a and m point to same loc
    
    print(m,id(m))
    
    m.append(4) # ref is not changed but value inside the ref is updated. 
                # so original list also gets updated in the same mem loc
    print(m,id(m))
    
    return m

In [162]:
a = [1,2,3]
print(a,id(a))

[1, 2, 3] 2603495580800

In [163]:
b = ref_change(a)
print(a,id(a))

[1, 2, 3] 2603495580800
[1, 2, 3, 4] 2603495580800
[1, 2, 3, 4] 2603495580800

In [164]:
def ref_change(m):
    
    print(m,id(m))
    
    m[3][0] = 40 # ref is not changed. value is changed. original also gets updated

    print(m,id(m))
    
    return m

In [165]:
a = [1,2,3,[4,5,6]]
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603495855232

In [166]:
b = ref_change(a)
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603495855232
[1, 2, 3, [40, 5, 6]] 2603495855232
[1, 2, 3, [40, 5, 6]] 2603495855232

In [167]:
def ref_change(m):
    
    print(m,id(m))
    
    m = [1,2,3] # ref is changed. original is not affected
    
    print(m,id(m))
    
    return m

In [168]:
a = [1,2,3,[4,5,6]]
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603495711616

In [169]:
b = ref_change(a)
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603495711616
[1, 2, 3] 2603496648640
[1, 2, 3, [4, 5, 6]] 2603495711616

In [177]:
def ref_change(m):
    
    print(m,id(m))
    m[0] = 10 # shallow copy -> 1st level element change. original doesnot affect
    m[3][0] = 10 # shallow copy -> nested element ref is unchanged. original affects
    print(m,id(m))
    
    
    return m

In [178]:
a = [1,2,3,[4,5,6]]
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603466271680

In [179]:
b = ref_change(a[:]) # shallow copy is passed.reference is changed. orignal will not be affected.
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603495724224
[10, 2, 3, [10, 5, 6]] 2603495724224
[1, 2, 3, [10, 5, 6]] 2603466271680

In [181]:
def ref_change(m):
    
    print(m,id(m))
    m = [10,20,30,[40,50]] # as, ref is changed. original is not affected
    m[0] = 10 
    m[3][0] = 10
    print(m,id(m))
    
    return m

In [182]:
a = [1,2,3,[4,5,6]]
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603497120768

In [183]:
b = ref_change(a[:]) # shallow copy is passed.reference is changed. orignal will not be affected.
print(a,id(a))

[1, 2, 3, [4, 5, 6]] 2603497107136
[10, 20, 30, [10, 50]] 2603496793088
[1, 2, 3, [4, 5, 6]] 2603497120768