### Built in functions

### abs()

Returns the absolute value of a number

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
x = abs(3+5j)
print(x)

5.830951894845301

### all()

	Returns True if all items in an iterable object are true

In [ ]:
mylist = [True, True, True]
x = all(mylist)
print(x)

True

In [ ]:
mylist = [0, 1, 1]
x = all(mylist)
print(x)

# Returns False because 0 is the same as False

False

In [ ]:
mytuple = (0, True, False)
x = all(mytuple)
print(x)

# Returns False because both the first and the third items are False

False

In [ ]:
myset = {0, 1, 0}
x = all(myset)
print(x)

# Returns False because both the first and the third items are False

False

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = all(mydict)
print(x)

# Returns False because the first key is false.

# For dictionaries the all() function checks the keys, not the values.

False

#### any()

Returns True if any item in an iterable object is true

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mytuple = (0, 1, False)
x = any(mytuple)
print(x)

# Returns True because the second item is True

True

In [ ]:
myset = {0, 1, 0}
x = any(myset)
print(x)

# Returns True because the second item is True

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

# Returns True because the second key is True.

# For dictionaries the any() function checks the keys, not the values.

True

#### ascii()

Returns a readable version of an object. Replaces none-ascii characters with escape character

In [ ]:
x = ascii("My name is St√•le")
print(x)

'My name is St\xe5le'

#### bin()

Returns the binary version of a number

In [ ]:
x = bin(36)
print(x)

# The result will always have the prefix 0b

0b100100

#### bool()

Returns the boolean value of the specified object

In [ ]:
x = bool(1)
print(x)

True

#### bytearray()

Returns an array of bytes

In [ ]:
x = bytearray(4)
print(x)

bytearray(b'\x00\x00\x00\x00')

#### bytes()

Returns a bytes object

In [ ]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

#### callable()

Returns True if the specified object is callable, otherwise False

In [ ]:
def x():
  a = 5

print(callable(x))

True

In [ ]:
x = 5

print(callable(x))

False

#### chr()

Returns a character from the specified Unicode code.

In [ ]:
x = chr(97)

print(x)

a

#### classmethod()

Converts a method into a class method

#### compile()

Returns the specified source as an object, ready to be executed

In [ ]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [ ]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

#### compile()

Returns the specified source as an object, ready to be executed

In [ ]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [ ]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

#### delattr(

Deletes the specified attribute (property or method) from the specified object

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

# The Person object will no longer contain an "age" property

#### dict()

Returns a dictionary (Array)

In [ ]:
x = dict(name = "John", age = 36, country = "Norway")

print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#### dir()

Returns a list of the specified object's properties and methods

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

#### divmod()

Returns the quotient and the remainder when argument1 is divided by argument2

In [ ]:
x = divmod(5, 2)

print(x)

(2, 1)

#### enumerate()

Takes a collection (e.g. a tuple) and returns it as an enumerate object

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
for key, value in enumerate(['The', 'Big', 'Bang', 'Theory']):
    print(key, value)

0 The
1 Big
2 Bang
3 Theory

#### eval()

Evaluates and executes an expression

In [ ]:
x = 'print(55)'
eval(x)

55

#### exec()

Executes the specified code (or object)

In [ ]:
x = 'name = "John"\nprint(name)'
exec(x)

John

#### filter()

Use a filter function to exclude items in an iterable object

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

#### float()

Returns a floating point number

In [ ]:
x = float(3)

print(x)

3.0

In [ ]:
x = float("3.500")

print(x)

3.5

#### format()

Formats a specified value

In [ ]:
x = format(0.5, '%')

print(x)

50.000000%

In [ ]:
x = format(255, 'x')

print(x)

ff

#### frozenset()

Returns a frozenset object

In [ ]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)

frozenset({'cherry', 'apple', 'banana'})

In [ ]:
# x[1] = "strawberry" # TypeError: 'frozenset' object does not support item assignment

#### getattr()

Returns the value of the specified attribute (property or method)class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')

print(x)

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'page', 'my message')

print(x)

my message

#### globals()

Returns the current global symbol table as a dictionaryReturns the current global symbol table as a dictionary

In [25]:
x = globals()
# print(x)

#### hasattr()

Returns True if the specified object has the specified attribute (property/method)

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = hasattr(Person, 'age')

print(x)

True

#### hash()

- Returns the hash value of a specified object if present
- The hash value is an integer which is used to quickly compare dictionary keys while looking at a dictionary.

In [12]:
int_val = 4
str_val = 'Python'
flt_val = 24.56
 
# Notice Integer value doesn't change
print("The integer hash value is : " + str(hash(int_val)))
print("The string hash value is : " + str(hash(str_val)))
print("The float hash value is : " + str(hash(flt_val)))

The integer hash value is : 4
The string hash value is : 1944295142452769063
The float hash value is : 1291272085159665688

In [11]:
# tuple are immutable
tuple_val = (1, 2, 3, 4, 5)
 
# list are mutable
list_val = [1, 2, 3, 4, 5]
 
# Notice exception when trying to convert mutable object
print("The tuple hash value is : " + str(hash(tuple_val)))
# print("The list hash value is : " + str(hash(list_val))) # TypeError: unhashable type: 'list'

The tuple hash value is : -5659871693760987716

#### help()

Executes the built-in help system

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### hex()

Converts a number into a hexadecimal value

In [ ]:
x = hex(255)
print(x)

0xff

#### id()

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print(y)

# This value is the memory address of the object and will be different every time you run the program

2020774939328

#### input()

	Allowing user input

In [15]:
print("Enter your name:")
x = input()
print("Hello, " + x, type(x))

Enter your name:
name
Hello, name <class 'str'>

In [17]:
x = int(input("Enter a number:"))
print("number:", x)

Enter a number:4
number: 4

In [23]:
# x = int(input("Enter name:")) # # ValueError: invalid literal for int() with base 10: 'python'

#### int()

	Returns an integer number

In [ ]:
x = int(3.5)

print(x)

3

In [ ]:
x = int("12")

print(x)

12

#### isinstance()

Returns True if a specified object is an instance of a specified object

In [ ]:
x = isinstance(5, int)

print(x)

True

In [ ]:
x = isinstance("Hello", (str, float, int, str, list, dict, tuple))

print(x)

True

In [ ]:
class myObj:
  name = "John"

y = myObj()

x = isinstance(y, myObj)

print(x)

True

#### issubclass()

Returns True if a specified class is a subclass of a specified object

In [ ]:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)

print(x)

True

#### iter()

Returns an iterator object

In [ ]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

#### len()

Returns the length of an object

In [ ]:
mylist = ["apple", "orange", "cherry"]

x = len(mylist)

print(x)

3

In [ ]:
x = len("Hello")

print(x)

5

In [12]:
x = {12,3,4,5,3,4,5,3,4,5}
len(x)

4

In [14]:
d = {1:10,2:20,3:30,4:[1,2,3],None:5}
len(d)

5

#### list()

Returns a list

In [ ]:
x = list(('apple', 'banana', 'cherry'))

print(x)

['apple', 'banana', 'cherry']

#### locals()

Returns an updated dictionary of the current local symbol table

In [24]:
x = locals()
# print(x)

#### map()

Returns the specified iterator with the specified function applied to each item

In [ ]:
def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x000001D67EF70F70>
[5, 6, 6]

In [ ]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x000001D67F139BE0>
['appleorange', 'bananalemon', 'cherrypineapple']

#### max()

Returns the largest item in an iterable

In [ ]:
x = max(5, 10)

print(x)

10

In [ ]:
x = max("Mike", "John", "Vicky")

print(x)

Vicky

In [ ]:
a = (1, 5, 3, 9)
x = max(a)

print(x)

9

memoryview()

Returns a memory view object

In [ ]:
x = memoryview(b"Hello")

print(x)

#return the Unicode of the first character
print(x[0])

#return the Unicode of the second character
print(x[1])

<memory at 0x000001D67F91EB80>
72
101

#### min()

Returns the smallest item in an iterable

In [ ]:
x = min(5, 10)

print(x)

5

In [ ]:
x = min("Mike", "John", "Vicky")

print(x)

John

In [ ]:
a = (1, 5, 3, 9)
x = min(a)

print(x)

1

#### next()

Returns the next item in an iterable

In [ ]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

apple
banana
cherry

In [ ]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)

apple
banana
cherry
orange

#### object()

Returns a new object

In [ ]:
x = object()

print(dir(x))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

#### oct()

	Converts a number into an octal

In [ ]:
x = oct(12)

print(x)

0o14

#### open()

Opens a file and returns a file object

In [ ]:
f = open("demofile.txt", "w+")
f.write('hello world')
f.close()

import os
os.remove("demofile.txt")

#### ord()

Convert an integer representing the Unicode of the specified character

In [ ]:
x = ord("h")

print(x)

#### pow()

Returns the value of x to the power of y

In [ ]:
x = pow(4, 3)

print(x)

In [ ]:
x = pow(4, 3, 5)

print(x)

#### print()

Prints to the standard output device

In [ ]:
print("Hello World")

In [ ]:
print("Hello", "how are you?")

In [ ]:
x = ("apple", "banana", "cherry")
print(x)

In [ ]:
print("Hello", "how are you?", sep="---")

#### range()

- Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
- range() is not iterator but iterable.

In [ ]:
x = range(6)

for n in x:
  print(n)

In [ ]:
x = range(3, 6)

for n in x:
  print(n)

In [ ]:
x = range(3, 20, 2)

for n in x:
  print(n)

In [2]:
# creates a demo range
demo = range(1, 31, 2) # returns an 
  
# print the range
print(demo)
  
# print the start of range
print(demo.start)
  
# print step of range
print(demo.step)
  
# print the index of element 23
print(demo.index(23))
  
# since 30 is not present it will give error
# print(demo.index(30)) # ValueError: 30 is not in range

range(1, 31, 2)
1
2
11

In [9]:
demo = range(6) # iterable

# print the demo
print(demo)
  
# it will generate error. cannot call next() on range iterable object
# print(next(demo)) # TypeError: 'range' object is not an iterator

demo = iter(demo) # converted to iterator

# print iterator
print(demo)
  
# use next
print(next(demo))
print(next(demo))

range(0, 6)
<range_iterator object at 0x000001C9B48C3330>
0
1

#### reversed()

Returns a reversed iterator

In [ ]:
alph = ["a", "b", "c", "d"]

ralph = reversed(alph)

for x in ralph:
  print(x)

#### round()

Rounds a numbers

In [ ]:
x = round(5.76543, 2)
print(x)

In [ ]:
x = round(5.76543)
print(x)

#### set()

Returns a new set object

In [ ]:
x = set(("apple", "banana", "cherry"))

print(x)

# Note: the set list is unordered, so the result will display the items in a random order.

#### setattr()

Sets an attribute (property/method) of an object

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)

# The age property will now have the value: 40

x = getattr(Person, 'age')

print(x)

#### slice()

Returns a slice object

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")

x = slice(2)

print(a[x])

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")

x = slice(3, 5)

print(a[x])

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")

x = slice(0, 8, 3)

print(a[x])

#### sorted()

	Returns a sorted list

In [10]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")

x = sorted(a)

print(x)
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
('b', 'g', 'a', 'd', 'f', 'c', 'h', 'e')

In [ ]:
a = (1, 11, 2)

x = sorted(a)

print(x)

In [ ]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")

x = sorted(a)

print(x)

In [ ]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")

x = sorted(a, reverse=True)

print(x)

#### str()

	Returns a string object

In [ ]:
x = str(3.5)

print(x)

In [ ]:
x = int("12")

print(x)

#### sum()

Sums the items of an iterator

In [ ]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

In [ ]:
a = (1, 2, 3, 4, 5)
x = sum(a, 7)
print(x)

#### super()

Returns an object that represents the parent class

In [ ]:
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self, txt):
    super().__init__(txt)

x = Child("Hello, and welcome!")

x.printmessage()

#### tuple()

Returns a tuple

In [ ]:
x = tuple(("apple", "banana", "cherry"))

print(x)

#### type()

Returns the type of an object

In [ ]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)

print(x)
print(y)
print(z)

#### vars()

Returns the __dict__ property of an object

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)

print(x)

#### zip()

Returns an iterator, from two or more iterators

In [ ]:
a = ("a", "b", "c")
b = ("1", "2", "3")

x = zip(a, b)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

In [ ]:
a = ("a", "b", "c")
b = ("1", "2", "3")
 
# combines two collections
for p,q in zip(a, b):
    print(p, q)