#### list comprehension
- To generate a list
- enclosed in [ ]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

#### for : [val for]

In [2]:
fruits = ["apple", "banana", "cherry"]

# newlist =[]
# for x in fruits:
#      newlist.append(x)

newlist = [x for x in fruits] # same list is again created using for loop

# for x in fruits:
#     print(x)

[print(x) for x in fruits] # output values

    
[x.upper() for x in fruits] # list

apple
banana
cherry

['APPLE', 'BANANA', 'CHERRY']

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits]

# for x in fruits:
#   newlist.append(x)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [26]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
['hello' for x in fruits]

['hello', 'hello', 'hello', 'hello', 'hello']

#### enumerate in for

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [[i,x] for i,x in enumerate(fruits)]
new_tuple_list = [(i,x) for i,x in enumerate(fruits)]

print(newlist)
print(new_tuple_list)

newlist = [[x] for i,x in enumerate(fruits)]
print(newlist)

[[0, 'apple'], [1, 'banana'], [2, 'cherry'], [3, 'kiwi'], [4, 'mango']]
[(0, 'apple'), (1, 'banana'), (2, 'cherry'), (3, 'kiwi'), (4, 'mango')]
[['apple'], ['banana'], ['cherry'], ['kiwi'], ['mango']]

#### for if: [val for if]

In [29]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits if "a" in x]

['apple', 'banana', 'mango']

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits if x != "apple"]

['banana', 'cherry', 'kiwi', 'mango']

In [31]:
[x for x in range(10) if x < 5]

[0, 1, 2, 3, 4]

#### nested if comprehension: [val for if if]

In [32]:
[y for y in range(100) if y % 2 == 0 if y % 5 == 0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

#### nested loops: [[val for] for]

In [33]:
matrix = [[1, 2], 
          [3,4], 
          [5,6], 
          [7,8]]

transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

emp_details = [[101, 'Ashok'], 
          [102,'Mounika'], 
          [103,'Nagaraju'], 
          [104,'Adarsh']]


emp = [[row[i] for row in emp_details] for i in range(2)]
print(emp)

[[1, 3, 5, 7], [2, 4, 6, 8]]
[[101, 102, 103, 104], ['Ashok', 'Mounika', 'Nagaraju', 'Adarsh']]

#### if else comprehension [val if else val for]

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]

# for x in fruits:
#   if x != "banana":
#     newlist.append(x)
#   else:
#     newlist.append('orange')

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [34]:
[(i,"Even") if i%2==0 else (i,"Odd") for i in range(10)]

[(0, 'Even'),
 (1, 'Odd'),
 (2, 'Even'),
 (3, 'Odd'),
 (4, 'Even'),
 (5, 'Odd'),
 (6, 'Even'),
 (7, 'Odd'),
 (8, 'Even'),
 (9, 'Odd')]

#### elif comprehension [val if else val if else val for]

In [20]:
['x<2' if (x < 2) else 'two' if x==2 else x for x in range(1,6)]

['x<2', 'two', 3, 4, 5]

- if convert a **for-loop and if statement** into list comprehension:
- Must put the **for loop in the beginning**: [i for i in lista if i not in listb]
- You’ll definitely get an error if you put the for loop in the end, like this[ i if i in lista not in listb for i in lista]
- If convert a **for-loop and if-else statement** in list comprehension:
- Must put the **for loop in the end**: [ i if i not in listb else 0 for i in lista]
- You’ll definitely get an error if you put the for loop in the end, like this[ [i for i in list if conditionA else ‘string’]]

#### flatten list using comprehension

In [36]:
lst = [[2, 2], [4], [1, 2, 3, 4], [1, 2, 3]]

# Flatten the list here
[x for l in lst for x in l] # [cal ol il]

[2, 2, 4, 1, 2, 3, 4, 1, 2, 3]

In [37]:
lst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# comprehension to add 2 to each item in the list
# create list of lists
new = [[x+2 for x in l] for l in lst] # [[val il] ol]
print(new)

[[3, 4, 5], [6, 7, 8], [9, 10, 11]]