### Operators

In [ ]:
10 + 5 # + is operator, 10 and 5 are operands

15

#### arithmetic operators

- Arithmetic operators are used with numeric values to perform common mathematical operations

In [ ]:
x = 5
y = 3

print(x + y)

8

In [ ]:
x = 5
y = 3

print(x - y)

2

In [ ]:
x = 5
y = 3

print(x * y)

15

In [1]:
print(16/3)
print(17/3)

print(5/2,5.0/2)
print(-5/2,-5.0/2)

print(int(True))
print(False/True) # 0/1
# print(True/False) # ZeroDivisionError: division by zero

5.333333333333333
5.666666666666667
2.5 2.5
-2.5 -2.5
0.0
1

In [ ]:
print(16//3)
print(17//3)

print(5//2, 5.0//2)
print(-5//2, -5.0//2)

#the floor division // rounds the result down to the nearest whole number

5
5
2 2.0
-3 -3.0

In [ ]:
x = 5
y = 2

print(x % y)

1

In [ ]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2 # exponent operator

32

#### assignment operat+or

- Assignment operators are used to assign values to variables:

In [2]:
x = 5

print(x)

5

In [3]:
x = 5
x += 3
print(x)

8

In [4]:
x = 5
x -= 3
print(x)

2

In [5]:
x = 5
x *= 3

print(x)

15

In [6]:
x = 5
x /= 3

print(x)

1.6666666666666667

In [7]:
x = 5
x%=3

print(x)

2

In [8]:
x = 5
x//=3

print(x)

1

In [ ]:
x = 5
x **= 3

print(x)

In [ ]:
x = 5
x &= 3

print(x)

In [ ]:
x = 5
x |= 3

print(x)

In [ ]:
x = 5
x ^= 3

print(x)

In [ ]:
x = 5
x >>= 3

print(x)

In [ ]:
x = 5
x <<= 3

print(x)

#### comparison operators

- Comparison operators are used to compare two values

In [ ]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

In [ ]:
x = 5
y = 3

print(x != y)
# returns True because 5 is not equal to 3

In [ ]:
x = 5
y = 3
print(x > y)
# returns True because 5 is greater than 3

In [ ]:
x = 5
y = 3

print(x < y)
# returns False because 5 is not less than 3

In [ ]:
x = 5
y = 3

print(x >= y)
# returns True because five is greater, or equal, to 3

In [ ]:
x = 5
y = 3

print(x <= y)
# returns False because 5 is neither less than or equal to 3

#### chaining comparision operators

In [9]:
x = 5
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100) # 5 < 10 < 50 < 100
print(10 > x <= 9) # 10 > 5 <= 9
print(5 == x > 4) # 5 == 5 > 4

True
False
True
True
True

In [21]:
a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
exp1 = a <= (b < (c > ((d is not e) is f)))
exp2 = a is d > f is not c
print(exp1)
print(exp2)

True
False

In [3]:
x = 5
y = 10
z = 15
if x < y < z:
    print("y is greater than x and less than z")

y is greater than x and less than z

In [12]:
x=5
y=10
z=15
 # T or F and F
if x < y or y > z and z < x: # and has higher precedence than or
    print("This will not be printed as expected!")

This will not be printed as expected!

#### logical operators

- Logical operators are used to combine conditional statements

- **and** Returns True if both statements are true

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

- **or** Returns True if one of the statements is true

In [ ]:
x = 5

print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

- **not** Reverse the result, returns False if the result is true

In [13]:
x = 5

print(not(x > 3 and x < 10)) # not(T and T) = not(T) = F
# returns False because not is used to reverse the result

False

#### identity operators
- Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

- **is** Returns True if both variables are the same object

In [15]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

print(x is y)
# returns False because x is not the same object as y, even if they have the same content

print(x == z)
print(x is z)
# returns True because z is the same object as x

True
False
True
True

- **is not** Returns True if both variables are not the same object

In [16]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# returns False because z is the same object as x

print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

#### membership operators

- Membership operators are used to test if a sequence is presented in an object

- **in**	Returns True if a sequence with the specified value is present in the object

In [ ]:
x = ["apple", "banana"]

print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

- **not in** Returns True if a sequence with the specified value is not present in the object

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

#### bitwise operators
- Bitwise operators are used to compare (binary) numbers

- **& AND** Sets each bit to 1 if both bits are 1

In [ ]:
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 & 3)

2

- **| OR** Sets each bit to 1 if one of two bits is 1

In [22]:
"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(6 | 3)

7

**^	XOR** Sets each bit to 1 if only one of two bits is 1

In [ ]:
"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 ^ 3)

5

**~ NOT** Inverts all the bits

In [ ]:
"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

print(~3)

-4

- **<< Zero fill left shift** Shift left by pushing zeros in from the right and let the leftmost bits fall off

In [ ]:
"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""
print(3 << 2)

12

- **>> Signed right shift** Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8 >> 2)

2

#### operator precedence

- Operator precedence describes the order in which operations are performed

- Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

In [ ]:
"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""
print((6 + 3) - (6 + 3))

0

- Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

In [ ]:
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""
print(100 + 5 * 3)

115

In [ ]:
"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""
print((6 + 3) - (6 + 3))

0

In [ ]:
"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""
print(100 - 3 ** 3)

73

In [ ]:
"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""
print(100 + ~3)

96

In [ ]:
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""
print(100 + 5 * 3)

115

In [ ]:
"""
Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
The calculation above reads 100 - 15 = 85
"""
print(100 - 5 * 3)

85

In [ ]:
"""
Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
The calculation above reads 8 >> 2 = 2

More explanation:
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""
print(8 >> 4 - 2)

2

In [ ]:
"""
Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 & 3 = 2

More explanation:
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 & 2 + 1)

2

In [ ]:
"""
Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 ^ 3 = 5

More explanation:
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 ^ 2 + 1)

5

In [ ]:
"""
Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 | 3 = 7

More explanation:
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 | 2 + 1)

7

In [ ]:
"""
The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 5 == 5 = True
"""
print(5 == 4 + 1)

True

In [ ]:
"""
The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
The calculation above reads: not True = False
"""
print(not 5 == 5)

False

In [ ]:
"""
The and operator has a higher precedence than or, and we need to calculate the and expression first.
The calculation above reads: 1 or 3 = 1
"""
print(1 or 2 and 3)

1

In [ ]:
"""
The or operator has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads: 4 or 15 or 8 = 4
"""
print(4 or 5 + 10 or 8)

4