#### creating variables

In [ ]:
# variable is created the moment you first assign a value to it
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Variables do not need to be declared with any particular type, and 
# can even change type after they have been set.
x = 4
x = "Sally"
print(x)

Sally

#### get the type

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

# type(x), type(y) # it should be last statement then it gets printed in jupyter notebook

# print("end")

<class 'int'>
<class 'str'>

#### quotations for string values

In [ ]:
x = "John"
print(x)

#double quotes are the same as single quotes:

x = 'John'
print(x)

John
John

#### case-sensitive

In [ ]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

#### variable naming rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- **recomended: donot starting variable names with underscore(s)**

In [15]:
# Valid variables
myvar = "John"
my_var = "John"
_my_var = "John" # not recomended but valid
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
# invalid variables

# 2myvar = "John"
# my-var = "John"
# my var = "John"

# File "<ipython-input-30-aa8fed0365e4>", line 1
#     2myvar = "John"
#          ^
# SyntaxError: invalid syntax

#### descriptive variable names

 ***camelCase:*** Each word, except the first, starts with a capital letter

In [6]:
myVariableName = "John"
myVariableName

'John'

***PascalCase:*** Each word starts with a capital letter

In [7]:
MyVariableName = "John"
MyVariableName

'John'

***snake_case:*** Each word is separated by an underscore character

In [ ]:
my_variable_name = "John"
my_variable_name

'John'

#### one Value to multiple variables

In [ ]:
x = y = z = "Orange"
print(x,y,z)

Orange Orange Orange

#### different values to multiple variables

In [1]:
x, y, z = "Orange", "Banana", "Cherry"

print(x,y,z)

Orange Banana Cherry

#### unpacking a collection

- If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

#### output variables

In [ ]:
# o/p single variable
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
# o/p multiple variables using , (space is included between variables by default)
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
# o/p multiple variables using + (spaces are not included between variables but concatenated)
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [ ]:
# For numbers, the + character works as a mathematical operator
x = 5
y = 10
print(x + y)

15

In [10]:
# when you try to combine a string and a number using the + operator

# x = 5
# y = "John"
# print(x + y)

# TypeError                                 Traceback (most recent call last)
# <ipython-input-49-b9a1f4f02df5> in <module>
#       3 x = 5
#       4 y = "John"
# ----> 5 print(x + y)

# TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# The best way to output multiple variables in the print() function is 
# to separate them with commas, which even support different data types

x = 5
y = "John"
print(x, y)

5 John

#### structuring python program

In [1]:
# multiple statements in single line
a=1; b=2; print(a); print(b)

1
2

In [12]:
# implicit line continuation
age = 20
citizen = "indian"
if (
   age >= 18 
    and
   citizen == "indian"
   ):
    print('person is eligible to vote')

person is eligible to vote

In [14]:
# explicit line continuation 
# using \ at the end of the line
a = \
    10 + 20 + \
    15 + 5 \
    + 5
  
print(a)

55