### User input and output

Python stops executing when it comes to the input() function, and continues when the user has given some input.

#### single user input

In [4]:
username = input("Enter username: ") # by default str type
print("Username is: " + username)
print(type(username))

Enter username: Ashok
Username is: Ashok
<class 'str'>

In [6]:
number = int(input("Enter number: "))
print("number is:" , number)
# print("number is:" + number) # error (str + int)
print(type(number))

Enter number: 45
number is: 45
<class 'int'>

#### multiple user inputs

In [10]:
# using split method

#enter values seperated by space
x, y = input("Enter two values: ").split() # default is str type
print(x,y, type(x),type(y))

Enter two values: 4 55
4 55 <class 'str'> <class 'str'>

In [12]:
x, y,z = input("Enter three values: ").split()
print(x,y,z)
type(x), type(y), type(z)

Enter three values: 55 4 345
55 4 345

(str, str, str)

In [13]:
# taking multiple inputs at a time and type casting using list() function
x = list(map(int, input("Enter multiple values: ").split())) # each value is converted as int
print(x, type(x[0]))

Enter multiple values: 3 4 5 22 44 22 44 232 786
[3, 4, 5, 22, 44, 22, 44, 232, 786] <class 'int'>

In [15]:
# using list comprehension
x, y = [int(x) for x in input("Enter two values: ").split()]
print(x,y)
type(x),type(y)

Enter two values: 55 66
55 66

(int, int)

In [16]:
# taking three input at a time
x, y, z = [int(x) for x in input("Enter three values: ").split()]
print(x,y,z)
type(x), type(y), type(z)

Enter three values: 4 3 55
4 3 55

(int, int, int)

In [17]:
# taking multiple inputs at a time
x = [int(x) for x in input("Enter multiple values: ").split()]
print(x)

Enter multiple values: 3 4 6 7 8 9 9 3427 52398
[3, 4, 6, 7, 8, 9, 9, 3427, 52398]

In [23]:
# taking multiple inputs at a time separated by comma
x = [x for x in input("Enter multiple values seperated  by comma: ").split(",")] # no error as ['2 3', '4']
print("Number of list is: ", x)
x = [int(x) for x in input("Enter multiple values seperated  by comma: ").split(",")] # error as [2, 3, 4]
print("Number of list is: ", x)

Enter multiple values seperated  by comma: 2 3,4
Number of list is:  ['2 3', '4']
Enter multiple values seperated  by comma: 2,3,4
Number of list is:  [2, 3, 4]

In [24]:
x = input() # without message to the user (not recomended)
x

python is easy

'python is easy'

## output

In [27]:
# output
print('hello','world','python','is','easy') # by default sep=" ", end="\n"
print('hello','world','python','is','easy',sep="-",end=".")
print('hello','world','python','is','easy',sep=" ",end="\n") 
# demonstrate end
print('hello')
print('hi')

hello world python is easy
hello-world-python-is-easy.hello world python is easy
hello
hi

In [7]:
l = [1,2,3,4,5,]
print(l) # prints as list

for x in l:
    print(x) # prints elements seperately in new line
    
print(*l) # prints elements seperately in single line

[1, 2, 3, 4, 5]
1
2
3
4
5
1 2 3 4 5

In [22]:
import sys # It only works with string If you pass a number or a list, you will get a TypeError.
 
sys.stdout.write("Data Science Stack ")
sys.stdout.write("is easy")

Data Science Stack is easy

7

In [24]:
length_of_given_string_parameter = sys.stdout.write("Welcome ")
print(length_of_given_string_parameter)

Welcome 8

In [48]:
# sys.stdout.write(1) # TypeError: write() argument must be str, not <class 'int'>
# sys.stdout.write(l) # TypeError: write() argument must be str, not <class 'list'>

#### output formatting

In [32]:
#  %[flags][width][.precision]type 

name = 'tony'
age = 25

print('%5d' %(10), # add spaces to the left
     '%5.2f' %(12.4296), # takes only 2 decimal places .43 as 9>=5
     '%5.2f' %(123456.4), # fills rest of decimal places with 0
     f'name : {name}, age : {age}',
     'name : {}, age : {}'.format(name,age),
     'name : {1}, age : {0}'.format(age,name),
     'name : {1}, age : {0}, city : {city}'.format(age,name,city='bangalore'),
     sep = '\n'
     )

   10
12.43
123456.40
name : tony, age : 25
name : tony, age : 25
name : tony, age : 25
name : tony, age : 25, city : bangalore