### for loop

In [5]:
print(range(0,11)) # iterator
print(list(range(0,11))) # list
print(type(range(0,11)))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'range'>

In [1]:
fruits = ["apple", "banana", "cherry"] # iterable
for x in fruits: # any iterator
    print(x)

for x in range(0,3): 
    print(x)

apple
banana
cherry
0
1
2

In [6]:
# Even strings are iterable objects, they contain a sequence of characters
for x in "banana":
    print(x,end="")

b
a
n
a
n
a

In [1]:
cars = ["Aston" , "Audi", "McLaren "]
for x in enumerate(cars): # x (index,value) : (0,'Aston'), x: (1,'Audi'), x: (2,'McLaren')
    print (x[0], x[1])

for index,value in enumerate(cars): # i,x : 0,'Aston', i,x : 1,'Audi', ...
    print(index,value)

for x in enumerate(cars, start = 11):# x (index,value) : (11,'Aston'), x: (12,'Audi'), x: (13,'McLaren')
    print(x[0],x[1])

0 Aston
1 Audi
2 McLaren
0 Aston
1 Audi
2 McLaren
11 Aston
12 Audi
13 McLaren

#### break statement

In [9]:
# with the break statement we can stop the loop before it has looped through all the items

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x) 
    if x == "banana":
        break # out of loop where break is present
print("end")

# for 
#   for
#     for
#   if ...  
#     break

apple
banana
end

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x) 
print("end")

apple
end

#### continue statement

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print('\n',x) 
    if x == "banana":
        continue # for loop next iteration
    print("is tasty")

print("\nend")

 apple
is tasty

 banana

 cherry
is tasty

end

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

#### else in for loop

In [13]:
for x in range(6):
    print(x)
else: # after all iterations
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [14]:
for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")

print("end")
#If the loop breaks, the else block is not executed.

0
1
2
end

#### nested for loop

In [15]:
quality = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in quality: # red, big, tasty
    for y in fruits: # a b c, a b c, a b c
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#### pass statement in for loop

In [16]:
for x in [0, 1, 2]:
    pass

# having an empty for loop like this, would raise an error without the pass statement