**dataset of customer reviews for a product.**

In [1]:
import pandas as pd

In [2]:
# Create a sample DataFrame of customer reviews
data = {
    'Review': ['Great product', 'Excellent', None, 'Average', 'Good'],
    'Rating': [5, 4, None, 3, 4],
    'Customer': ['John', 'Alice', 'Bob', None, 'Tom']
}

In [3]:
df = pd.DataFrame(data)
df

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
2           None     NaN      Bob
3        Average     3.0     None
4           Good     4.0      Tom

### df.dropna()

In [4]:
# Drop rows with any missing data
df_dropped = df.dropna()
print("Dropped rows:")
df_dropped

Dropped rows:

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
4           Good     4.0      Tom

In [5]:
df # original dataset is not affected

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
2           None     NaN      Bob
3        Average     3.0     None
4           Good     4.0      Tom

In [6]:
df.dropna(inplace=True) # changes happens on original dataset
df

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
4           Good     4.0      Tom

### df.fillna()

In [7]:
df = pd.DataFrame(data)
df

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
2           None     NaN      Bob
3        Average     3.0     None
4           Good     4.0      Tom

In [8]:
# Fill missing values with a specific value
df_filled = df.fillna('Unknown')
print("\nFilled missing values:")
df_filled

Filled missing values:

          Review   Rating Customer
0  Great product      5.0     John
1      Excellent      4.0    Alice
2        Unknown  Unknown      Bob
3        Average      3.0  Unknown
4           Good      4.0      Tom

In [9]:
df # original dataset is not affected

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
2           None     NaN      Bob
3        Average     3.0     None
4           Good     4.0      Tom

In [10]:
df.fillna(0, inplace=True) # original dataset is affected
df

          Review  Rating Customer
0  Great product     5.0     John
1      Excellent     4.0    Alice
2              0     0.0      Bob
3        Average     3.0        0
4           Good     4.0      Tom